header {
  height: 400px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: #0c5900; */
  margin-top: 120px;
  background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

header h2 {
  margin: 0%;
  font-weight: 400;
  font-size: 50px;
}

.header-2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
}


